.split {
  height: 100%;
  width: 50%;
  position: fixed;
  overflow: auto;
  padding: 20px;
}

.left {
  left: 0;
  top: 0;
  background-color: #d8dce6;
  color: #0e076a;
}

.right {
  right: 0;
  top: 0;
  background-color: #0e076a;
  color: #d8dce6;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered h1 {
  text-align: left;
}

#cloud1 {
  position: absolute;
  left: 400px;
  margin: 50px;
}

#cloud2 {
  position: absolute;
  top: 10px;
  left: 250px;
}

#cloud3 {
  position: absolute;
  top: 10px;
  left: 20px;
}

.avatar-background {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #0e076a;
  overflow: hidden;
  z-index: -1;
}

.head {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: bisque;
  position: relative;
  left: 80px;
  top: 60px;
  z-index: 1;
  clip: rect(0px, 60px, 200px, 0px);
}

.av-body {
  height: 200px;
  width: 135px;
  border-radius: 30%;
  background-color: rgb(231, 220, 220);
  position: relative;
  left: 60px;
  top: 50px;
  z-index: 1;
}

.eye1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 110px;
  top: 90px;
  z-index: 1;
}

.eye2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 140px;
  top: 90px;
  z-index: 1;
}

.hair {
  height: 200px;
  width: 200px;
  background-color: rgb(134, 76, 17);
  position: absolute;
  left: 70px;
  top: 50px;
  clip-path: polygon(0 0, 60% 0, 60% calc(100% - 8vw), 0 80%);
}

li {
  list-style: none;
  display: inline-block;
  background-color: yellow;
}
