.split {
  height: 100%;
  width: 50%;
  position: fixed;
  overflow: auto;
  padding: 20px;
}

.left {
  left: 0;
  top: 0;
  background-color: #d8dce6;
  color: #0e076a;
}

.right {
  right: 0;
  top: 0;
  background-color: #0e076a;
  color: #d8dce6;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.centeredR {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h1 {
  text-align: left;
}

@keyframes cloud-1 {
  from {
    left: 700px;
  }
  to {
    left: -300px;
  }
}

#cloud1 {
  position: relative;
  animation: cloud-1 25s infinite linear;
  animation-direction: normal;
  transition-property: sliding;
}

#cloud2 {
  position: relative;
  top: 150px;
  left: 500px;
  animation-delay: 3s;
  animation: cloud-1 25s infinite linear;
  animation-direction: normal;
  transition-property: sliding;
}

#cloud3 {
  position: relative;
  animation: cloud-1 30s infinite linear;
  animation-direction: normal;
  transition-property: sliding;
}

#cloud4 {
  position: relative;
  top: 120px;
  left: 700px;
  animation: cloud-1 30s infinite linear;
  animation-direction: normal;
  animation-delay: 10s;
}

#cloud5 {
  position: relative;
  top: 120px;
  left: 700px;
  animation: cloud-1 30s infinite linear;
  animation-direction: normal;
  animation-delay: 15s;
}

.avatar-background {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #07536a;
  overflow: hidden;
  z-index: -1;
}

.head {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: bisque;
  position: relative;
  left: 80px;
  top: 60px;
  z-index: 1;
}

.av-body {
  height: 150px;
  width: 135px;
  border-radius: 30%;
  background-color: rgb(231, 220, 220);
  position: relative;
  left: 60px;
  top: 70px;
  z-index: 1;
}

.eye1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 110px;
  top: 90px;
  z-index: 1;
}

.eye2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 140px;
  top: 90px;
  z-index: 1;
}

.hair {
  height: 150px;
  width: 120px;
  border-radius: 100px/50px;
  background-color: rgb(134, 76, 17);
  position: absolute;
  left: 70px;
  top: 50px;
}

/*
.bag {
  height: 120px;
  width: 120px;
  background-color: rgb(134, 76, 17);
  position: absolute;
  left: 70px;
  top: 30px;
  z-index: 1;
}
*/
